<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/amountSelection.css" />

        <!-- Bootstrap CSS -->
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous"
      />

  </head>
  <body>

    
    <div class="amount-selection">
      
      <div class="important-msg">
        <p>The payment information is encrypted by SSL so you can safely pay.</p>
      </div>

    <div class="selected_project_info">

      <div class="project-cover">
       <img  src="data:image/<%=CoverPicture.contentType%>;base64,
<%= CoverPicture.data.toString('base64')%>" alt="project-cover" />
      </div>

      <div class="project-title">
        <p><%= StoryTitle %>.</p>
      </div>

    </div>
   

    <div class="container">

      <div class="card mt-3">
        <div class="card-header">
          <h2>Required Data</h2>
        </div>
        <div class="card-body">
          <form  method="post">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input required name="cus_name" class="form-control" id="name" />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                required
                type="email"
                name="cus_email"
                class="form-control"
                id="email"
              />
            </div>
            <div class="mb-3">
              <label for="phone" class="form-label">Phone</label>
              <input required name="cus_phone" class="form-control" id="phone" />
            </div>

            <div class="mb-3">
              <label for="amount" class="form-label">Address</label>
              <input
                required
                name="address"
                type="text"
                step="0.01"
                class="form-control"
                id="address"
              />
            </div>
            <div class="mb-3">
              <label for="amount" class="form-label">Amount</label>
              <input
                required
                name="amount"
                type="number"
                min="0"
                step="0.01"
                class="form-control"
                id="amount"
              />
            </div>
            
           
            <div class="mb-3">
              <label for="desc" class="form-label">Currency</label>
              <select name="currency" class="form-select">
                <option selected value="BDT">BDT</option>
                <!-- <option value="USD">USD</option> -->
              </select>
            </div>

           
  
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>

    </div>


      <div class="small-support-hint">

        <p> When you support </p>

        <li>Please read the<a href=""> Terms of Use </a>and <a href="#"">Privacy Policy</a> before supporting.</li>
        <li>After supporting, it will be considered that you agree with the privacy policy and the terms of use of this service.</li>
        <li>As a general rule, refunds cannot be made after payment is completed.</li>
      </div>

    </div>
    
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
  </body>
</html>