<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>This is protected route</p>

    <p>Requested User Email : <%= email %></p>
    <p>Requested User ID : <%= userId %></p>

    <a href="#" onclick="logout()">logout</a>
  </body>
  <script>
    function logout() {
      fetch("/protected", {
        method: "DELETE",
      });

      setTimeout(() => {
        window.location.replace("/");
      }, 1000);
    }
  </script>
</html>
