<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript">
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <!-- Custom Theme files -->
    <link href="/css/login.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link
      href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i"
      rel="stylesheet"
    />
    <!-- //web font -->
  </head>
  <body>
    <!-- main -->
    <div class="main-w3layouts wrapper">
      <h1>Easy Fund</h1>
      <div class="main-agileinfo">
        <div class="agileits-top">
          <form action="#" method="post">
            <% if(typeof message != 'undefined') { %>

            <label>
              <span id="msg" style="color: rgb(255, 255, 255); margin: 1em 0"
                ><%= message %></span
              >
            </label>

            <% } else { %>

            <label>
              <span
                id="msg"
                style="display: none; color: rgb(255, 255, 255); margin: 1em 0"
              ></span>
            </label>

            <% } %>
            <input
              class="text email"
              type="email"
              name="email"
              id="user-email"
              onkeyup="CheckEmail(this)"
              placeholder="Email"
              required=""
            />

            <input type="submit" value="SEND" />
          </form>
        </div>
      </div>
      <!-- copyright -->
      <div class="colorlibcopy-agile">
        <p>© 2022 Easy Fund. All rights reserved</p>
      </div>
      <!-- //copyright -->
      <ul class="colorlib-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <!-- //main -->
    <!-- <script defer src="/js/validation/register.js"></script> -->
  </body>
</html>
