<div class="first_container">
     
  <div class="singleSlide">

    <img src="/img/demo1.jpg" alt="canada" style="width: 100%" />

  </div>
  <div class="singleSlide">

    <img src="/img/first_container_pic4.jpg" style="width: 100%;">
  </div>


  <div class="singleSlide fade">

    <img src="/img/first_container_pic5.jpg" style="width:100%">

  </div>
  
  <div class="top-left_">
    
    <p class="para">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem,
      iste! jjdjdjdjdsw ncjncjdcj soxsjszj sijisjijsixjsij jcjdxdjcjd
      sjsjnjsn jjnnn jnjnnjn jnjnjn ijiji
    </p>
   
      <a  href="/article/how_it_works.html"/>
        Read more </a
      >
  
  </div>

  <div class="top-right_">
    
    <h2> Help everyone with everyone </h2>
    

    <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima laborum expedita iure temporibus alias sit 
      iusto esse architecto? Vero pariatur consequuntur, maxime voluptate deleniti odio.</p>

    <button> <a style="text-decoration: none; color: #f2f2f2;" href="/discover/all-projects">Discover project</a></button>
    </div>
  </div>