<div class="project_category">
  <h2>Discover project by categories</h2>

  <div class="identity_row increase_margin">
    <div onclick="Medical()" class="each_category">
      <span class="material-icons d_icons"> medical_services </span>

      <p>Medical</p>
    </div>

    <div class="each_category">
      <span class="material-icons d_icons"> family_restroom </span>

      <p>Family</p>
    </div>

    <div class="each_category">
      <span class="material-icons d_icons"> school </span>

      <p>Education</p>
    </div>

    <div class="each_category">
      <span class="material-icons d_icons"> forum </span>
      <p>Community</p>
    </div>
  </div>
  <div class="identity_row">
    <div class="each_category">
      <span class="material-icons d_icons"> business </span>

      <p>Business</p>
    </div>

    <div class="each_category">
      <span class="material-icons d_icons"> airplane_ticket </span>
      <p>Study Abroad</p>
    </div>

    <div class="each_category">
      <span class="material-icons d_icons"> tornado </span>

      <p>Disaster</p>
    </div>

    <div class="each_category">
      <span class="material-icons d_icons"> dynamic_feed </span>

      <p>Others</p>
    </div>
  </div>
</div>