<div class="project_category">
  <h2>Discover project by categories</h2>

  <div class="identity_row increase_margin">
    <div onclick="Medical()" class="each_category">
      <span class="material-icons d_icons"> medical_services </span>

      <a href="/category/medical"> <p>Medical</p></a>
    </div>

    <div class="each_category">
      <span class="material-icons d_icons"> family_restroom </span>

      <a href="/category/family"> <p>Family</p></a>
    </div>

    <div class="each_category">
      <span class="material-icons d_icons"> school </span>

      <a href="/category/education"> <p>Education</p></a>
    </div>

    <div class="each_category">
      <span class="material-icons d_icons"> forum </span>
      <a href="/category/community"> <p>Community</p></a>
    </div>
  </div>
  <div class="identity_row">
    <div class="each_category">
      <span class="material-icons d_icons"> business </span>

      <a href="/category/business"> <p>Business</p></a>
    </div>

    <div class="each_category">
      <span class="material-icons d_icons"> airplane_ticket </span>
      <a href="/category/study_abroad"> <p>Study Abroad</p></a>
    </div>

    <div class="each_category">
      <span class="material-icons d_icons"> tornado </span>

      <a href="/category/disaster"> <p>Disaster</p></a>
    </div>

    <div class="each_category">
      <span class="material-icons d_icons"> dynamic_feed </span>

      <a href="/category/others"> <p>Others</p></a>
    </div>
  </div>
</div>
