<nav id="navbar">
  <div class="logo"><a href="/">EasyFunD</a></div>
  <!-- <input type="checkbox" id="click" /> -->
  <label id="show_nav" for="click" class="menu-btn">
    <i class="fas fa-bars"></i>
  </label>
  <div class="nav_menu_item">
    <ul id="nav_menu_item">
      <li>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
          >&times; close</a
        >
      </li>
      <li class="dropdown">
        <a href="#">How it works</a>
        <div class="dropdown-content">
          <a class="content" href="/article/how_it_works.html">How it works</a>
          <a class="content" href="/article/write_a_story.html"
            >How to write a story</a
          >

          <hr />
          <a class="content" href="/article/category_tips.html"
            >Category Tips</a
          >
        </div>
      </li>

      <li><a href="/DiscoverProjects">Discover project</a></li>
      <li>
        <a href="/GeneralSettings">Start a project</a>
      </li>
      <li id="box_sign">
        <a href="/auth/login">
          <i class="fa fa-user" aria-hidden="true"></i>
          Log In
        </a>
      </li>
    </ul>
  </div>
</nav>
