<nav id="navbar">
  <div class="logo"><a href="/userend">EasyFunD</a></div>
  <!-- <input type="checkbox" id="click" /> -->
  <label onclick="opennav()" id="show_nav" for="click" class="menu-btn">
    <i class="fas fa-bars"></i>
  </label>

  <div class="nav_menu_item">
    <ul id="nav_menu_item">
      <li>
        <a href="/GeneralSettings">Start a project</a>
      </li>
      <li id="box_sign">
        <% if( picturelink != '') { %>
        <img onclick="opennav()" src="<%= picturelink  %>" alt="user-profile" />
        <% } else { %>

        <img
          onclick="opennav()"
          src="data:image/<%= picture.contentType%>;base64,
<%= picture.data.toString('base64')%>"
          alt="user-profile"
        />

        <% } %>
      </li>
    </ul>
  </div>
</nav>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <p><%= username %></p>
  <hr />

  <a class="article" href="/article/how_it_works.html">How it works</a>
  <a class="article" href="/article/write_a_story.html">How to write a Story</a>
  <a class="article" href="/article/category_tips.html">Category Tips</a>

  <hr />

  <a href="/DiscoverProjects">Discover All Project</a>

  <a href="/account/settings"> Account Settings</a>

  <a href="#">Privacy & Policy</a>

  <a href="/logout">Sign out</a>
</div>
