<!--


  In this page all the medical story card will be shown
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/HomePage/FeatureProject/card.css" />

    <link rel="stylesheet" href="../../css/category/medical.css" />
  </head>
  <body>
    <div class="medical_content">
      <div class="document_head">
        <h2>Look for Medical category project</h2>
        <p>
          help people in need around the world, or start fundraising for someone
          close to you that needs help.
        </p>
        <button>start easyfund</button>
      </div>
    </div>

    <div id="card-list" class=""></div>

    <button class="see_more">see more</button>

    <div class="how_it_works">
      <p class="heading_work">How it works?</p>

      <div class="work_section">
        <div class="column">
          <h4>Step 1</h4>

          <h3>Create your fundraising project</h3>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus,
            commodi?
          </p>
        </div>
        <div class="column">
          <h4>Step 2</h4>

          <h3>Share with relatives and friends</h3>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus,
            commodi?
          </p>
        </div>
        <div class="column">
          <h4>Step 3</h4>

          <h3>Get all funds you've collected</h3>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus,
            commodi?
          </p>
        </div>
      </div>
    </div>

    <div class="message">
      <p>Why don't you start fundraising too ?</p>
      <button>start fundraising now</button>
    </div>

    <script src="../../Javascript/category_project/Medical.js"></script>
  </body>
</html>
