.amount-selection {
  position: relative;
  width: 700px;
  margin: 80px auto;
}

.amount-selection .important-msg {
  margin: 0 10px;
  background-color: rgb(2, 97, 97);
  color: #f2f2f2;
}

.important-msg p {
  padding: 8px 10px;
  font-size: 15px;
}

.amount-selection .selected_project_info {
  display: flex;
  margin: 10px 20px;
  color: #000;
  padding: 10px 14px;
  border: 1px solid #e0e0e0;
}

.selected_project_info .project-cover {
  flex: 10%;
}
.selected_project_info .project-title {
  flex: 80%;
}
.project-title p {
  font-size: 12px;
  padding: 20px 0;
}

.project-cover img {
  width: 80px;
  height: 50px;
}

.amount-selection .select {
  padding: 20px 0;
}

.select h3 {
  font-size: 20px;
  text-align: center;
  padding: 10px 0;
}

.select p {
  font-size: 17px;
  text-align: center;
  color: rgb(139, 129, 129);
  padding-bottom: 15px;
}

.select .display-amount-btn-highest {
  display: flex;
}
.display-amount-btn-highest input {
  width: 100%;
  margin: 0 10px;
  padding: 10px 12px;
}

.amount-selection .payment-option {
  margin: 0 10px;
  padding: 0;
}

.payment-option p {
  font-size: 19px;
  margin-bottom: 10px;
}

.payment-option .payment-operator {
  display: flex;
  justify-content: start;
  padding: 10px 0;
}
.payment-operator img {
  width: 60px;
  height: 40px;
  margin: 0 10px 0 0;
  border: 1px solid #e0e0e0;
}

.amount-selection .small-support-hint {
  margin: 10px 10px;
  background-color: #f2f2f2;
  opacity: 0.7;
  padding: 10px 14px;
  border: 1px groove #ccc;
}

.small-support-hint p {
  font-size: 17px;
  font-weight: bold;
  padding: 10px 0;
}

.small-support-hint li {
  margin: 5px 0;
  padding: 0 12px;
}

.amount-selection .rules {
  margin: 0 10px;
  padding: 15px 0;
}
.rules p {
  font-size: 14px;
  margin: 3px 5px;
}

.amount-selection .submit-form {
  margin: 5px 10px;
}
.submit-form button {
  padding: 10px 0px;
  text-align: center;
  background: rgb(0, 161, 161);
  color: #f2f2f2;
  width: 100%;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.selected {
  background-color: rgb(2, 185, 185);
  color: #f2f2f2;
}
