body {
  margin: 0;
}

.card-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 30px auto;
  overflow: hidden;
  justify-content: space-between;
  font: "Poppins", sans-serif;
}

.card-container .subject {
  padding: 0 5px;
  text-align: center;
  margin: 5px auto;
}

.card-container .amount_section {
  margin-bottom: 0;
  border: 3px solid rgb(0, 161, 161);
  padding: 8px 0;
  background-color: teal;
  color: aliceblue;
  font-size: 17px;
  text-align: center;
}

.card-container {
  width: 260px;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  background-color: rgb(194, 195, 195);
  transform: scale(1.05);
}

.card-container img {
  height: 200px;
  width: auto;
  object-fit: fill;
}

.category {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}
.second_container {
  padding: 0 100px;
}

.second_container .head {
  font-size: 22px;
  margin-top: 30px;
  padding-left: 5px;
}
