body {
  margin: 0;
}

#card-list {
  width: 76%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
  overflow: hidden;
  justify-content: center;
}

.card-container .subject {
  padding: 0 5px;
  text-align: justify;
}

.card-container .amount_section {
  margin-bottom: 0;
  border: 1px solid black;
  padding: 8px 0;
  background-color: teal;
  color: aliceblue;
  font-size: 17px;
  text-align: center;
}
.card-container {
  width: 20%;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  background-color: rgb(194, 195, 195);
  transform: scale(1.05);
}

.card-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1264px) {
  .card-container {
    width: 40%;
  }
}
