.first_container {
  position: relative;
  color: #000000;
  width: 100%;
}
.first_container img {
  height: 500px;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

.top-left_ {
  position: absolute;
  top: 35%;
  left: 1%;
  padding: 0 0px 0 100px;
  width: 40%;
}

.top-right_ {
  width: 500px;
  height: 300px;
  position: absolute;
  top: 20%;

  float: right;
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #f2f2f2;
}

.top-right_ h2 {
  padding: 20px 0;
  font-size: 35px;
}
.top-right_ p {
  text-align: justify;
  font-size: 16px;
  padding-bottom: 15px;
}
.top-right_ button {
  padding: 12px 16px;
  background-color: teal;

  font-size: 18px;
  border-radius: 8px;
  border: none;
  margin: 10px 0;
  cursor: pointer;
}

.top-left_ .para {
  color: #f2f2f2;
  font-size: 20px;
  padding: 20px 0;
  word-spacing: 8px;
}

.top-left_ a {
  color: #f2f2f2;
  font-size: 18px;
  display: flex;
  justify-content: right;
  padding-right: 20px;
  font-weight: bold;
}

.first_container .singleSlide {
  display: none;
}

@media screen and (min-width: 969px) {
  .top-right_ {
    right: 5%;
  }
}

@media screen and (min-width: 1400px) {
  .top-right_ {
    right: 10%;
  }
}

@media screen and (max-width: 969px) {
  .top-left_ {
    width: 80%;
  }
  .top-right_ {
    width: 100%;
    top: 80%;
    left: 0;
  }
}

@media screen and (max-width: 500px) {
  .top-left_ {
    padding: 0 20px;
  }
  .top-right_ {
    height: 350px;
  }
}

@media screen and (max-width: 1400px) {
  .top-right_ {
    right: 10%;
  }
}
