* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --body-font: "Poppins", sans-serif;
  --bigger-font-size: 1.8rem;
  --h2-font-size: 1.22rem;
  --normal-font-size: 0.911rem;
}

/* margins */

:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  --mb-7: 2.2rem;
  --mb-8: 3.3rem;
  --mb-9: 7rem;
}

:root {
  --first-color: #4070f4;
  --second-color: #0e2431;
  --third-color: #f2f2f2;
  --fourth-color: rgb(0, 161, 161);
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}
.write-story {
  position: relative;
  width: 500px;
  margin: var(--mb-9) auto;
  padding: var(--mb-5) auto;
}

.write-story .head {
  font-size: 1.25rem;
  text-align: center;
}
.important_notice {
  background-color: #f2f2f2;
  opacity: 0.6;
  margin: 1.25rem 1.5rem 0rem;
}

.short-note {
  background-color: #f2f2f2;
  opacity: 0.6;
  margin: 1rem 1.56rem 0rem;
}

.important-paragraph {
  padding: 0.75rem 1rem;
  font-size: 0.78rem;
  text-align: justify;
  line-height: 1.2rem;
}

.important-msg {
  display: flex;
  justify-content: end;
  padding-bottom: 1.25rem;
  color: black;
  font-weight: bold;
  margin: 0 1.25rem;
  font-size: 0.86rem;
}

.title-field {
  margin: 0 1.56rem;
}

.sub_head {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.675rem 0;
}
.title-field input {
  width: 100%;
  padding: 1rem 1.1245rem;
  font-size: 1.05rem;
  border: 1px solid #ddd;
}

.story-field {
  margin: 0rem 1.56rem;
}
.line {
  border-bottom: 4px solid #000;
  display: block;
}

.txt-area {
  resize: none;
  overflow: hidden;
  width: 100%;
  height: 500px;
  padding: 20px 20px;
  font-size: 1rem;
  text-align: justify;
  border: 1px solid #ccc;
  color: black;
}

.vertical-line {
  border-left: 3px solid black;
  width: 1px;
  display: block;
  height: 45px;
  margin: 0 10px;
}

.category {
  border: 2px solid #ccc;
  display: flex;
}

.category span {
  margin: 10px 12px;
  cursor: pointer;
  background-color: transparent;
}

.images {
  margin: 0.25rem 1.56rem;
}
.image-area {
  resize: none;
  overflow: hidden;
  width: 100%;
  height: 200px;
  padding: 20px 20px;
  font-size: 1rem;
  text-align: justify;
  border: 1px solid #ccc;
  color: black;
}
figure {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 8px;
}
.uploaded_img {
  width: 400px;
  height: 300px; /* temporary */
  border: 1px solid black;
}

.displayImage {
  width: 400px;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.next-page {
  margin: 1.25rem 1.56rem 0rem;
}

.next-page button {
  width: 100%;
  padding: 1.25rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(87, 235, 185);
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: no-drop;
}

.next-page button:hover {
  opacity: 0.7;
}

.back-page {
  margin: 0.25rem 1.56rem;
}

.back-page button {
  width: 100%;
  background-color: #f2f2f2;
  opacity: 0.6;
  text-transform: uppercase;
  font-size: 0.75rem;
  padding: 0.75rem 0.937rem;
  border: none;
  cursor: pointer;
}
