<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Easy Fund | Discover project</title>

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/dicoverProject.css" />
    <link rel="stylesheet" href="../../css/HomePage/EssentialMsg.css" />
  </head>
  <body>
    <div class="heading_part_discover">
      <div class="content_header">
        <h2>Discover projects</h2>

        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet placeat
          cum adipisci!
        </p>
      </div>
    </div>

    <div class="top_project">
      <p>Top projects</p>
    </div>

    <div id="card-list" class="all_project_card"></div>

    <div class="project_category">
      <h2>Discover project by categories</h2>

      <div class="identity_row">
        <div onclick="Medical()" class="each_category">
          <span class="material-icons d_icons"> medical_services </span>

          <p>Medical</p>
        </div>

        <div class="each_category">
          <span class="material-icons d_icons"> family_restroom </span>

          <p>Family</p>
        </div>

        <div class="each_category">
          <span class="material-icons d_icons"> school </span>

          <p>Education</p>
        </div>

        <div class="each_category">
          <span class="material-icons d_icons"> forum </span>
          <p>Community</p>
        </div>
      </div>
      <div class="identity_row">
        <div class="each_category">
          <span class="material-icons d_icons"> business </span>

          <p>Business</p>
        </div>

        <div class="each_category">
          <span class="material-icons d_icons"> airplane_ticket </span>
          <p>Study Abroad</p>
        </div>

        <div class="each_category">
          <span class="material-icons d_icons"> tornado </span>

          <p>Disaster</p>
        </div>

        <div class="each_category">
          <span class="material-icons d_icons"> dynamic_feed </span>

          <p>Others</p>
        </div>
      </div>
    </div>

    <div class="Summery">
      <p class="Ques">Why Don't You Try Easy Fund Now ?</p>

      <div class="Go_to_project">
        <button class="project_btn">Create Project</button>
      </div>
    </div>

    <script src="../../Javascript/DiscoverProject/discoverProject.js"></script>
  </body>
</html>
