<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../css/HomePage/EssentialMsg.css" />
  </head>
  <body>
    <div class="Important_msg_container">
      <div class="first_container_">
        <div class="E_left-side">
          <label class="E_head">
            <span class="material-icons icons">
              drive_file_rename_outline
            </span>
            Project Instruction</label
          >

          <p class="E_msg">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas
            minima suscipit iusto aspernatur sunt iste et velit qui cum
            laudantium.Eum iste blanditiis ex accusantium rem fuga mollitia
            obcaecati quis!
          </p>
        </div>

        <div class="E_right-side">
          <label class="E_head">
            <span class="material-icons icons"> cruelty_free </span>
            Free for all</label
          >

          <p class="E_msg">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas
            minima suscipit iusto aspernatur sunt iste et velit qui cum
            laudantium.Eum iste blanditiis ex accusantium rem fuga mollitia
            obcaecati quis!
          </p>
        </div>
      </div>

      <div class="second_container_">
        <div class="E_left-side">
          <label class="E_head">
            <span class="material-icons icons"> print </span>
            Receive support anytime</label
          >

          <p class="E_msg">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor
            excepturi sapiente perspiciatis debitis quod! Soluta aut officiis
            praesentium numquam esse obcaecati eaque animi commodi repudiandae
            et molestiae magni quae unde pariatur, suscipit nemo dicta
            exercitationem maiores totam deleniti fugit architecto.
          </p>

          <p class="E_msg">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos
            impedit itaque sed nulla possimus numquam.
          </p>
        </div>

        <div class="E_right-side">
          <label class="E_head E_unique">
            <span class="material-icons icons"> ballot </span>
            Create more awareness</label
          >

          <p class="E_msg">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor
            excepturi sapiente perspiciatis debitis quod! Soluta aut officiis
            praesentium numquam esse obcaecati eaque animi commodi repudiandae
            et
          </p>

          <a class="E_hyperlink" href="#">How Easy Fund Works ?</a>
        </div>
      </div>
    </div>

    <div class="small-section">
      <h2>Easy Fund</h2>

      <p>Why don't you try to start fundraising too ?</p>

      <button>create project</button>
    </div>

    <div class="project_category">
      <h2>Discover project by categories</h2>

      <div class="identity_row">
        <div class="each_category">
          <span class="material-icons d_icons"> medical_services </span>

          <p>Medical</p>
        </div>

        <div class="each_category">
          <span class="material-icons d_icons"> family_restroom </span>

          <p>Family</p>
        </div>

        <div class="each_category">
          <span class="material-icons d_icons"> school </span>

          <p>Education</p>
        </div>

        <div class="each_category">
          <span class="material-icons d_icons"> forum </span>
          <p>Community</p>
        </div>
      </div>
      <div class="identity_row">
        <div class="each_category">
          <span class="material-icons d_icons"> business </span>

          <p>Business</p>
        </div>

        <div class="each_category">
          <span class="material-icons d_icons"> airplane_ticket </span>
          <p>Study Abroad</p>
        </div>

        <div class="each_category">
          <span class="material-icons d_icons"> tornado </span>

          <p>Disaster</p>
        </div>

        <div class="each_category">
          <span class="material-icons d_icons"> dynamic_feed </span>

          <p>Others</p>
        </div>
      </div>
    </div>
  </body>
</html>
