<!--

   Work section : How It works
    Specific category : First Page : How it works
    Date : 13/2/2022
-->

<!--

  this page is not yet responsive
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>How It Works</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../../css/How  it works/how_it_works.css" />
  </head>
  <body>
    <!--
    First Section - Introduction
  -->

    <div class="document">
      <div class="startup">
        <h3>How Easy Fund Works ?</h3>

        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
          assumenda necessitatibus eveniet minima nostrum? Consectetur molestiae
          fugit, nostrum velit eaque dolores voluptas atque quo adipisci
          expedita officiis voluptates doloremque iure?
        </p>
      </div>

      <!--

      Important points to understand
    -->

      <div class="important_points">
        <div class="left_side">
          <h4>Create Your Project</h4>
          <li>Register for free</li>
          <li>Set Your Goal or Desire</li>
          <li>Add Picture</li>
          <li>Write Why you are rasising fund for</li>
        </div>
        <div class="right_side">
          <h4>Spread the word</h4>
          <li>Share your project through messages</li>
          <li>Add updates to your project</li>
        </div>
      </div>

      <div class="important_points">
        <div class="left_side">
          <h4>Collect Your Fund</h4>
          <li>
            Request your collected funds even if your project has not ended
          </li>
          <li>Receive all your collected funds when your project ends</li>
          <li>
            It usually takes about 1 to 2 weeks from your request to the
            delivery of the support amount.
          </li>
        </div>
      </div>
    </div>

    <!---SHifT to the project section-->

    <div class="project_section">
      <div class="ready">
        <h2>Are You Ready ? Start now!</h2>
      </div>

      <div class="Go_to_project">
        <button class="project_btn">Create Project</button>
      </div>
    </div>

    <!-------------------->

    <div class="Fundpurpose">
      <div class="related_img">
        <img
          src="../../images/HomePage/Feature Project/images.jpg"
          alt="Image"
        />
      </div>

      <div class="details-para">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
          architecto debitis illum assumenda. A nobis veritatis ipsam nulla
          adipisci ducimus aliquam iusto praesentium? Nemo magni natus officiis
          sed iusto vero!
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo
          asperiores blanditiis nemo, non porro nostrum officiis qui eius
          dignissimos ipsa.
        </p>
      </div>

      <p class="Ques">Why Don't You Try Easy Fund Now ?</p>

      <div class="Go_to_project">
        <button class="project_btn">Create Project</button>
      </div>
    </div>
  </body>
</html>
