<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../../css/How  it works/write_a_story.css" />
  <title> Write a Story </title>
</head>
<body>


  <div class="document">

    <div class="startup">
      <h3> How To Write a Successful Story ?</h3>
  
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Obcaecati assumenda necessitatibus eveniet minima nostrum? 
        Consectetur molestiae fugit</p>
    </div>


    <div class="cover-image">

      <img src="../../images/HomePage/Feature Project/demo1.jpg"/>
    </div>


    <div class="important_points">

      <div class="left_side">

        <h4> Include an appealing title! </h4>
        <li> Make your title to perfectly describe your project </li>
        <li> Make it understandable and concise! </li>
       
      </div>
      <div class="right_side">

        <h4> Pictures are needed!</h4>
        <li> Include pictures that help you describe better your project </li>
        <Li> Better to include high quality pics made by you! </Li>
        <li>Keep your best picture for the cover!</li>

      </div>
    </div>


    <div class="important_points">

      <div class="left_side">

        <h4> Answer essential questions in your story </h4>
        <li> <b>WHO</b> are you? </li>
        <li> WHERE do you live? </li>
        <li>WHAT problem you want to solve?</li>
        <li>WHY do you need that amount of funds?</li>
        <li>WHEN do you need the funds?</li>
        <li>HOW are you going to use the collected funds?</li>
       
       
       
      </div>
      <div class="right_side">

        <h4> The more, the better!</h4>
        <li> Include any extra information that might help other to understand your cause! </li>
        <Li> Include your social networks, web, etc.</Li>
        

      </div>
    </div>
  </div>


  


  
</body>
</html>