.create-your-project {
  width: 700px;
  margin: 50px auto;
  padding: 30px 40px;
}

.create-your-project button {
  padding: 30px 80px;
  background: #fff;
  border: 3px solid cyan;
}

.create-your-project a {
  text-align: center;
  text-decoration: none;
  font-size: 28px;
  color: black;
}

.horizontal-line {
  border: 1px solid rgb(149, 149, 149);
  width: 90%;
  display: block;
  margin: 0 auto 30px auto;
}

.project {
  width: 90%;
  display: block;
  margin: 0 auto 15px auto;
}

.project p {
  font-size: 23px;
  margin-bottom: 20px;
}

.main-project {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  border-radius: 5px;
  margin: 20px 0;
  background-color: white;
  width: 90%;
  display: block;
  margin: 0 auto 15px auto;
}

.main-project .project-container {
  display: flex;
  margin: 20px 15px 0 15px;
}
.project-container .project-cover {
  width: 20%;
  padding-bottom: 15px;
}

.project-cover img {
  display: block;
  margin: 0 auto;
  border: 1px solid black;
}

.project-container .project-details {
  width: 80%;
  margin: 20px 0;
}

.project-details h3 {
  font-size: 1.5333rem;
  margin: 10px 0 0 0;
  font-weight: 400;
}

.project-details p {
  font-size: 1rem;
  margin: 10px 0 0 0;
  color: #5e5c5e;
}
.main-project hr {
  display: block;
  height: 1px;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  width: 100%;
}
.main-project .project_lookup {
  border: 4px solid rgba(73, 4, 73, 0.478);
  padding: 20px 0;
  text-align: center;
}

.project_lookup a {
  padding-bottom: 5px;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.22rem;
  color: #000000;
  font-weight: 500;
}

.dialog-box {
  width: 400px;
  margin: 0 auto;
  border: 2px solid black;
  position: absolute;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  display: none;
}

.dialog-box .header {
  padding: 12px 20px;
  width: 100%;
  background-color: rgb(76, 218, 76);
}

.header h2 {
  font-size: 22px;
}

.dialog-box .decision {
  display: flex;
}

.decision a {
  width: 50%;
  font-size: 18px;
  padding: 8px 12px;
  color: #000000;
  background-color: #fff;
  text-align: center;
  border: 1px groove #ccc;
  text-decoration: none;
}

.decision a:hover {
  background: #a8a4a8;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
}
