<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="./navbar.css" />
    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
  </head>
  <body>
    <nav id="navbar">
      <div class="logo"><a href="./index.html">EasyFunD</a></div>
      <!-- <input type="checkbox" id="click" /> -->
      <label id="show_nav" for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>

      <div class="nav_menu_item">
        <ul>
          <li>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
              >&times; close</a
            >
          </li>
          <li class="dropdown">
            <a href="./UniversityPage.html">How it works</a>
            <div class="dropdown-content">
              <a class="content" href="../../How it works/how_it_works.html"
                >How it works</a
              >
              <a class="content" href="../../How it works/write_a_story.html"
                >How to write a story</a
              >

              <hr />
              <a class="content" href="../../How it works/category_tips.html"
                >Category Tips</a
              >
            </div>
          </li>

          <li><a href="./guide.html">Discover project</a></li>
          <li>
            <a href="../../Start_Project/FirstPage.html">Start a project</a>
          </li>
          <li id="box_sign">
            <a href="./registration_login.html">
              <i class="fas fa-user"></i> Log In
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>
