<!----

    Work section : HomePage
    Specific category : Card for featuring project
    Date : 12/2/2022



-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Featuring project</title>
    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    /> -->

    <link
      rel="stylesheet"
      href="../../../css/HomePage/Feature Project/card.css"
    />
  </head>
  <body>
    <!-- In this html page we will focus on creating a specific card -->

    <div class="card">
      <!-- first part - an image to show -->
      <img
        src="../../../images/HomePage/Feature Project/helpPost.jpg"
        alt="Simple image"
      />
      <div class="card-body">
        <div class="caption-content">
          <p>
            Help Us To Raise This Child With Eductaion and Care By Giving a
            Small Contribution.
          </p>
        </div>

        <div class="flag-type-content">
          <!-- left portion will be the iamge -->
          <div class="flag">
            <img
              src="../../../images/HomePage/Feature Project/flag.png"
              alt="flag"
            />
          </div>
          <!-- right portion will be type of the content -->

          <div class="type">
            <p>Medical</p>
          </div>
        </div>
      </div>

      <div class="fund-raised">
        <!-- this section will monitor how much fund has been raised -->
        <!-- this section will be dynamic in upcoming days -->

        <p>Raised Amount : <label class="amount">$230</label></p>
      </div>
    </div>

    <!-- <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script> -->
  </body>
</html>
