<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Featuring project</title>

    <link
      rel="stylesheet"
      href="../../../css/HomePage/Feature Project/card.css"
    />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
  </head>
  <body>
    <div class="card-list">
      <div class="card-container">
        <img
          src="../../../images/HomePage/Feature Project/helpPost.jpg"
          alt="Simple image"
        />
        <p class="subject">
          Help Us To Raise This Child With Eductaion and Care By Giving a Small
          Contribution.
        </p>

        <div style="display: flex;" class="category">
          <span style="padding-left: 5px;" class="material-icons">
            category
            </span>

            <label style="padding: 5px 5px;">Medical</label>
        </div>

        <p  class="amount_section">Raised Amount : <label class="amount">$230</label></p>
      </div>

      <div class="card-container">
        <img
          src="../../../images/HomePage/Feature Project/helpPost.jpg"
          alt="Simple image"
        />
        <p class="subject">
          Help Us To Raise This Child With Eductaion and Care By Giving a Small
          Contribution.
        </p>

        <div style="display: flex;" class="category">
          <span style="padding-left: 5px;" class="material-icons">
            category
            </span>

            <label style="padding: 5px 5px;">Medical</label>
        </div>
        <p  class="amount_section">Raised Amount : <label class="amount">$230</label></p>
      </div>
      <div class="card-container">
        <img
          src="../../../images/HomePage/Feature Project/helpPost.jpg"
          alt="Simple image"
        />
        <p class="subject">
          Help Us To Raise This Child With Eductaion and Care By Giving a Small
          Contribution.
        </p>
        <p  class="amount_section">Raised Amount : <label class="amount">$230</label></p>
      </div>
      <div class="card-container">
        <img
          src="../../../images/HomePage/Feature Project/helpPost.jpg"
          alt="Simple image"
        />
        <p class="subject">
          Help Us To Raise This Child With Eductaion and Care By Giving a Small
          Contribution.
        </p>
        <p  class="amount_section">Raised Amount : <label class="amount">$230</label></p>
      </div>
      <div class="card-container">
        <img
          src="../../../images/HomePage/Feature Project/helpPost.jpg"
          alt="Simple image"
        />
        <p class="subject">
          Help Us To Raise This Child With Eductaion and Care By Giving a Small
          Contribution.
        </p>
        <p class="amount_section">Raised Amount : <label class="amount">$230</label></p>
      </div>
      <div class="card-container">
        <img
          src="../../../images/HomePage/Feature Project/helpPost.jpg"
          alt="Simple image"
        />
        <p class="subject">
          Help Us To Raise This Child With Eductaion and Care By Giving a Small
          Contribution.
        </p>
        <p  class="amount_section">Raised Amount : <label class="amount">$230</label></p>
      </div>
      <div class="card-container">
        <img
          src="../../../images/HomePage/Feature Project/helpPost.jpg"
          alt="Simple image"
        />
        <p class="subject">
          Help Us To Raise This Child With Eductaion and Care By Giving a Small
          Contribution.
        </p>
        <p  class="amount_section">Raised Amount : <label class="amount">$230</label></p>
      </div>
      <div class="card-container">
        <img
          src="../../../images/HomePage/Feature Project/helpPost.jpg"
          alt="Simple image"
        />
        <p class="subject">
          Help Us To Raise This Child With Eductaion and Care By Giving a Small
          Contribution.
        </p>
        <p  class="amount_section">Raised Amount : <label class="amount">$2340</label></p>
      </div>
    </div>
  </body>
</html>
