<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">

    <link rel="stylesheet" href="/css/usernavbar.css" />
    <link rel="stylesheet" href="./css/WriteStory.css">
   
  </head>
  <body>

    <%- include("../../partials/navbar.ejs") %>

    <div class="write-story">

      <% if(typeof error != 'undefined') { %>
        <% error.forEach(function(err) { %>
    
    
        <div id="error-div" class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= err.msg %> 
        <button  id="error-btn" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div> 
    
        <% }) %>
        <% } %>  

        <p class="head"> Write your own story </p>

        <div class="important_notice">

        <p class="important-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ea quas voluptas neque numquam reprehenderit est. Lorem 
            ipsum dolor sit amet consectetur adipisicing elit. Rerum, exercitationem?</p>
            
            <a class="important-msg" href="#"">Tips to write a good story</a>
        </div>


        <form id="storyForm"  method="post" enctype="multipart/form-data">

            <div class="title-field">
                <p class="sub_head">Title</p>
                <input onkeyup="charCount(this)"  name="title" type="text" placeholder="write title here" id="title" />
                <p  style="font-size: 13px; display: flex; justify-content: end; margin-top: 2px;" id="charnum">0/60</p>
                <div id="error-msg" style="display: none;"></div>
              </div>

              <div class="short-note">
                <p class="important-paragraph"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat,
                   maxime saepe ipsum laudantium necessitatibus suscipit!</p>
                   <a class="important-msg" href="#"">How to write a good story ?</a>
              </div>


              
            <div class="story-field">

                <p class="sub_head">Story</p>
                
                <div class="line"></div>
        
                <div class="category">
        
                <span style="font-size: 1.3rem;" id="bold"  title="Bold important word" class="material-icons">
                    format_bold
                    </span>
        

        
                <div class="vertical-line"></div>
        
                    <span style="font-size: 1.3rem;" title="tips" class="material-icons">
                    help
                    </span>
                <div class="vertical-line"></div>
      
        
                </div>

                
        
                <!-- Testing purpose -->
                <textarea onkeyup="charDecrease(this)"  name="story" id="content-story" class="txt-area"  placeholder="Write your story"></textarea> 
                <p  style="font-size: 13px; display: flex; justify-content: end; margin-top: 2px;" id="storychar">5000</p>
        
                </div>

                <div class="images">

                    <p class="sub_head">Images</p>

                    <div class="line"></div>

                    <div class="category">

                        <input multiple accept=".jpg, .png, .jpeg"  name="avatar"  id="file-input" onchange="preview()"  type="file" style="display: none;" >
                        <label style="font-size: 1.3rem;"   for="file-input"><span  title="add image" class="material-icons">
                        image
                        </span></label> 

                        <div class="vertical-line"></div>
        
                        <span  title="tips" style="font-size: 1.3rem;" class="material-icons">
                        help
                        </span>
                         <div class="vertical-line"></div>

                    </div>
                    
                    <div  contenteditable="true" id="content-image" class="image-area" > 
                    </div> 

                </div>

                <div class="next-page">
                    <button disabled  id="next" type="submit" >Next</button>
                  </div>
            
                  <div onclick="BackPressed()" class="back-page">
                    <a style="text-decoration: none;" href="#">
                      <button type="button" >back</button>
                    </a>
                  </div>
        </form>


    </div>

   
    <script>

      sessionStorage.setItem("CurrentURL",window.location.href);

     
      
      const title = document.getElementById("title");
      const story = document.getElementById("content-story");
      const Form = document.getElementById("storyForm");
      const submitBtn = document.getElementById("next");

      document.getElementById("charnum").innerHTML = title.value.length +"/"+60;


     
      const checkEnableButton = () => {

      submitBtn.disabled = !(
        title.value &&
        story.value &&
        title.value.length <=60 &&
        story.value.length > 0
      )

      };


    title.addEventListener("change",checkEnableButton);
    story.addEventListener("change",checkEnableButton);

    



  
    </script>

    <script defer src="/js/validation/WriteStory.js"></script>

  
  </body>
</html>
