* {
  margin: 0;
  padding: 0;
}

.dashboard {
  width: 100%;
  padding: 15px 0;
  background: rgb(29, 182, 182);
}

.dashboard p {
  text-align: center;
  font-size: 20px;
  color: #f2f2f2;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.user_story_page {
  position: relative;
  display: flex;
  width: 1000px;
  padding: 40px 0;
  margin: 40px auto;
}
.user_story_left_side {
  width: 690px;
}

.user_story_right_side {
  width: 300px;
  text-align: center;
}

.user_story_picture {
  display: block;
}
.user_story_picture img {
  width: 650px;
  height: 400px;
}

.caption_of_story {
  width: 100%;
  text-align: justify;
  margin: 30px 0;
}
.caption_of_story p {
  font-size: 24px;
  word-spacing: 3px;
}

.story_teller {
  display: flex;
  margin: 30px 0;
}
.story_teller .user_profile {
  flex: 15%;
}

.user_profile span {
  font-size: 60px;
}
.story_teller .user_identity {
  flex: 85%;
}

.user_identity .username {
  font-size: 20px;
  margin: 0 20px 10px;
  padding-top: 10px;
}
.user_identity .identity {
  padding: 0;
  font-size: 20px;
  margin: 0 20px 10px;
}

.main_story {
  margin: 20px 0;
  padding: 10px 5px;
  width: 650px;
  resize: none;
  overflow: hidden;
}

.main_story p {
  font-size: 17px;
  text-align: justify;
  margin-bottom: 20px;
}
.collected_money_section {
  padding: 40px 0 20px 0;
}
.collected_money_section .amount_head {
  text-align: center;
  margin: 10px 0;
  font-size: 18px;
}

.collected_money_section .amount {
  font-weight: bold;
  padding-bottom: 10px;
}

.progress progress {
  width: 100%;
  height: 20px;
}

.remaining_days {
  text-align: center;
}
.remaining_days .days {
  font-size: 21px;
}
.remaining_days .count {
  font-size: 21px;
  font-weight: bold;
}

.support_section {
  background-color: #f2f2f2;
  opacity: 0.8;
  padding: 20px 16px;
  margin: 20px 0;
}

.support_option {
  background-color: rgb(2, 114, 114);
  width: 100%;
  padding: 14px 16px;
  border-radius: 5px;
}

.support_option p {
  text-align: center;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.payment_section {
  display: flex;
  margin: 4px 10px;
}
.payment_section img {
  width: 60px;
  border: 1px solid black;
  padding: 3px;
  margin: 0 10px;
}

.sharing_section {
  margin: 10px 0;
}
.sharing_section button {
  background: none;
  border: 1px solid rgb(2, 114, 114);
  color: rgb(2, 114, 114);
  width: 100%;
  padding: 12px 16px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.easy_fund {
  margin: 45px 0;

  background-color: rgb(231, 247, 247);
}

.easy_fund p {
  text-align: justify;
  padding: 5px 10px 10px;
}
.about_easy_fund {
  text-align: left;
  padding: 5px 10px;
  display: flex;
}

.help_by_sharing {
  margin: 20px 0;
  text-align: center;
}
.help_by_sharing p {
  color: rgb(97, 97, 97);
  font-weight: bold;
  font-size: 24px;
}
.help_by_sharing .social_icon {
  padding: 20px 0;
  margin: 10px 0;
}
.social_icon i {
  font-size: 38px;
  padding: 0 20px;
}

.copy_link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.copy_link input {
  padding: 10px 16px;
  font-size: 18px;
  width: 30%;
}
.copy_link button {
  padding: 10px 18px;
  margin: 10px;
  font-size: 18px;
  color: wheat;
  background-color: rgb(211, 55, 211);
  font-weight: bold;
  cursor: pointer;
}
